@import '~@fortawesome/fontawesome-free/scss/fontawesome';

$lightGray : #f1f1f1;
$medGray : #cccccc;
$gray : #7d7d7d;
$darkGray: #212121;
$darkRed: #a22f2f;
$green: #78a22f;

h1,h2,h3,h4,h5{
  font-family: 'Roboto Condensed', sans-serif;
  color: $darkGray;
}
body{
  background: #f7f7f7;
  color: $darkGray;
}
header{
  background: $darkGray;
  .logo-wrap{
    padding: 10px 54px;
    padding-bottom: 19px;
    h1{
      color: white;
    }
    
    img{
      max-width: 250px;
    }
  }
}

.product-select-row{
  margin-bottom: 32px;
}

.loading{
  background: white;
  text-align: center;
  padding: 16px;
  border-radius: 4px;
  margin-top: 32px;
  .spinner{
    font-size: 40px;
    transform: rotate(0deg);
    animation: spin 1s linear infinite;
  }
}
@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
#footer{
  background: $darkGray;
  color: white;
  padding-top: 10px;
}
.page-intro{
  width: 100%;
  background: $darkGray;
  h1{
    color: white;
    text-align: center;
  }
}
.intro-text{
  margin-top: -130px;
  margin-bottom: 4rem;
  background: #f7f7f7;
  padding: 22px;
  border-radius: 4px;
  box-shadow: 0px -18px 30px -21px #536027;
  h1{
    font-weight: normal;
    letter-spacing: 6px;
  }
}

.main{
  margin-bottom: 4rem;
}

.controls{
  padding-top: 1rem;
  &.top{
    padding-top: 0;
    padding-bottom: .5rem;
  }
  .gray-button{
    border: 1px solid $gray;
    border-radius: 4px;
    font-size: 1rem;
    padding: 5px 16px;
    background: transparent;
    color: $gray;
    display: inline-block;
    transition: all 100ms ease-in-out;
    &:hover{
      background: darken($medGray, 10%);
      color: white;
      cursor: pointer;
    }
  }
  .button-large{
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 4px;
    padding: 5px 40px;
    transition: all 100ms ease-in-out;
  }
  .next-button{
    background: $green;
    color: white;
    &:hover{
      background: darken($green, 10%);
      cursor: pointer;
    }
  }
  .back-button{
    background: $darkGray;
    color: white;
    &:hover{
      background: darken($darkGray, 10%);
      cursor: pointer;
    }
  }
}


.available-wines{

}
.selectedWines{

  border: 1px solid $medGray;
  border-radius: 4px;
  padding: 15px;
  overflow-y: scroll;
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      background: white;
      margin-bottom: 10px;
      border-radius: 4px;
      border: 1px solid #d6d6d6;
      .remove{
        background: #79a440;
        color: white;
        padding: 10px;
        display: inline-block;
        border: none;
      }
      span{
        padding: 10px;
        display: inline-block;
      }
    }
  }
}

.sheetPreferences{
  list-style: none;
  padding: 0;
  li{
    padding: 10px;
    background: white;
    border: 1px solid $lightGray;
    border-radius: 4px;
    margin-bottom: 10px;
  }
}
.view-instructions{
  padding: 4rem 0;
}
.selected-wines-table{
  background: $lightGray;
  border: 1px solid #dee2e6;
  margin-bottom: 4rem;
  
}

.select-wrapper{
  background: white;
  box-shadow: 0px 10px 20px -16px #9c9c9c;
  border: 1px solid #e4e4e4;
  .select-header {
    margin: 0;
    padding: 16px;
    box-shadow: 0px 0px 17px -11px black;
    position: relative;
    h2 {
      vertical-align: top;
      font-size: 1.4rem;
      font-weight: bold;
      letter-spacing: 1px;
      color: rgba(33, 33, 33, 0.79);
      margin-bottom: 0;
    }
  }
  .select-scroll{
    height: 400px;
    width: 100%;
    background-color: #ececec;
    padding: 15px;
    overflow: hidden;
    overflow-y: scroll;
    h3{
      font-size: 1rem;
      margin-bottom: 15px;
    }
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      margin-bottom: 30px;
      li{
        background: white;
        margin-bottom: 10px;
        border-radius: 4px;
        overflow: hidden;
        &.disabled{
          pointer-events: none;
          opacity: .6;
        }
        .add{
          padding: 10px;
          display: inline-block;
          border: none;
          color: #8c8d8c;
          transition: color 100ms ease-in-out;
          &:hover{
            color: #79a440;
          }
          &:active, &:focus{
            outline: none;
          }
        }
        span{
          padding: 10px;
          display: inline-block;
        }
        .product-info-wrapper{
          .product-info__image{
            min-width: 100px;
            height: 100px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: inline-block;
          }
        }

      }
    }
  }
  .select-controls{
    width: 100%;
    display: inline-block;
    text-align: right;
    background-color: white;
    vertical-align: top;
    padding: 8px;
    box-shadow: 0px -2px 17px -11px black;
    position: relative;
    .dark-gray-button{
      background: #a5a0a0;
      color: white;
      border: 0;
      padding: 8px 16px;
      min-width: 150px;
      border-radius: 4px;
      font-weight: bold;
      display: inline-block;
      cursor: pointer;
      font-size: .8rem;
      &:hover{
        background: darken(#a5a0a0,10%)
      }
    }
  }
}
@import './sass-partials/select-list.scss';